SECRET_KEY=enkxNJpSKN

DB_NAME=calendar
DB_USER=calendar
DB_PASSWORD=calendar
DB_HOST=postgres
DB_PORT=5432

POSTGRES_DB=calendar
POSTGRES_USER=calendar
POSTGRES_PASSWORD=calendar

SERVER_EMAIL=<mail>
EMAIL_HOST=<host>
EMAIL_HOST_USER=<user>
EMAIL_HOST_PASSWORD=<password>
EMAIL_PORT=587
EMAIL_USE_TLS=1